<a href="https://colab.research.google.com/github/rosy137/lab-python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list(리스트)
* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입
* element(원소, 요소): 리스트에 저장되는 각각의 값
* index(인덱스): 리스트에서 원소가 저장된 위치
    * 리스트의 인덱스는 **0**부터 시작
    * 리스트의 마지막 인덱스는 (원소개수 - 1)
* 리스트는 원소들을 추가, 변경, 삭제할 수 있음
    * `tuple`과 다른 점!

In [ ]:
#숫자들을 저장하는 리스트
numbers = [1,2,3,10,20,30]

[1, 2, 3, 10, 20, 30]

#인덱싱(indexing)
인덱스를 사용해서 리스트의 원소를 참조하는 방법

In [ ]:
numbers[0] # 리스트의 인덱스 0 위치 원소

1

In [ ]:
numbers[5] # 리스트의 인덱스 5 위치 원소

30

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소

30

#slicing
인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.
`list[start:end]`
* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
    * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 new **리스트**

In [ ]:
numbers[1:4]

[2, 3, 10]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [ ]:
numbers[-3:] # 리스트에서 맨뒤에서 3개를 선택

[10, 20, 30]

In [ ]:
numbers[0:1] # slicing -> list

[1]

In [ ]:
numbers[0] # indexing -> 값(숫자)

1

# 문자열(str)
* 문자들의 *리스트*
* 문자열은 인덱스를 사용할 수 있음
* indexing, slicing 가능.

In [ ]:
message = 'hello, everyone' # 15개의 문자들로 이루어진 리스트.

In [ ]:
message[0] #문자열에서 첫번째 문자

'h'

In [ ]:
message[-1] # 문자열에서 마지막 문자

'e'

In [ ]:
message[14]

'e'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'hel'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'one'

In [ ]:
#문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

#리스트의 산술연산
* list + list
* list * int 또는 int * list

In [ ]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

#list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
numbers=[1,10,5,100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
i =0
while i<len(numbers):
    print(numbers[i])
    i += 1

1
10
5
100

In [ ]:
for x in range(len(numbers)):
    print(f'{x}번째 인덱스 값 = {numbers[x]}')

0번째 인덱스 값 = 1
1번째 인덱스 값 = 10
2번째 인덱스 값 = 5
3번째 인덱스 값 = 100

In [ ]:
for i, v in enumerate(numbers):
    print(i,':',v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1,2,3]
numbers2 = [10,11,12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
result = []

for i in range(len(numbers1)):
    result.append(numbers1[i]+ numbers2[i])
print(result)

[11, 13, 15]

In [ ]:
result = []
for x,y in zip(numbers1, numbers2): # 지퍼
    result.append(x+y)
print(result)

[11, 13, 15]

In [4]:
import random #random 모듈 임포트

In [ ]:
# random 모듈의 random() 함수 호출
random.random() # [0,1) 범위(0 <= x <1)의 실수 난수를 리턴

0.36564260067754784

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(3) # (0 <= 난수 < 3)
random.randrange(1,11) # (1 <= 난수 < 11)

4

##Ex 1.
1. 빈 리스트를 생성.
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

In [8]:
list = []
for _ in range(5): # 사용하지 않을 변수는 _(underscore) 사용
    list.append(random.randrange(1,11))
print('list:',list)
total = 0 # sum은 함수가 있으므로 변수 선언 하면 안됨.
for _ in range(len(list)):
    total += list[x]
print('total:', total)
avg = total / len(list)
print('avg:', avg)

list: [2, 9, 2, 7, 6]
total: 26
avg: 5.2

In [38]:
#List comprehension
numbers = [random.randrange(1, 11) for _ in range(5)]
print('numbers:', numbers)

total = 0 # 이하 동일

numbers: [6, 9, 10, 10, 9]

##Ex 2.
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:

numbers=[]
for x in range(10):
    numbers.append(random.randrange(10, 100))
print('numbers:', numbers)
evens = []
odds = []
for i in range(len(numbers)):
    if numbers[i] % 2 == 0:
        evens.append(numbers[i])
    else:
        odds.append(numbers[i])
print('evens:', evens)
print('odds:', odds)

numbers: [13, 56, 94, 95, 48, 88, 11, 85, 29, 40]
evens: [56, 94, 48, 88, 40]
odds: [13, 95, 11, 85, 29]

In [25]:
#List comprehension
numbers=[random.randrange(10,100) for _ in range(10)]
print('numbers:', numbers)
evens = [x for x in numbers if x % 2 == 0]
odds = [x for x in numbers if x % 2]
print('evens:', evens)
print('odds:', odds)

[26, 46, 87, 62, 99, 20, 10, 70, 85, 89]
[26, 46, 62, 20, 10, 70]
[87, 99, 85, 89]

##Ex 3.
1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
for x in range(10):
    numbers.append(random.randrange(-10, 11))
print('numbers:',numbers)
is_positive=[]
for i in range(len(numbers)):
    if numbers[i] > 0:
        is_positive.append('True')
    elif numbers[i] == 0:
        is_positive.append('0')
    else:
        is_positive.append('False')
print('is_positive:', is_positive)

numbers: [-2, -3, -6, 4, -8, 8, -5, -10, -10, 0]
is_positive: ['False', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'False', '0']

In [39]:
#List comprehension 삼항연산자
numbers = [random.randrange(-10,11) for _ in range(10)]
print('numbers:', numbers)
is_positive = [True if x > 0 else False for x in numbers]
print('is_positive:', is_positive)

numbers: [-9, 7, -7, 4, 0, -10, 2, 10, -5, -7]
is_positive: [False, True, False, True, False, False, True, True, False, False]

##Ex 4.
1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
for x in range(10):
    gender_codes.append(random.randrange(2))
print('gender_codes:', gender_codes)
genders=[]
for i in range(len(gender_codes)):
    if gender_codes[i] == 0:
        genders.append('Male')
    else:
        genders.append('Female')
print('genders:', genders)

gender_codes: [1, 0, 1, 0, 0, 0, 0, 0, 1, 1]
genders: ['Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female']

In [30]:
#List comprehension
gender_codes = [random.randrange(2) for _ in range(10)]
print('gender_codes:', gender_codes)
genders = ['Female' if x == 1 else 'Male' for x in gender_codes]
print('genders:', genders)

[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
['Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male']

In [41]:
# 삼항 연산자 조건 여러개
gender_codes = [1,2,1,2,3]
# 1 -> M 2 -> F 3 -> unknown
genders = ['M' if x == 1 else 'F' if x == 2 else 'unknown' for x in gender_codes]
print('genders: ', genders)

genders:  ['M', 'F', 'M', 'F', 'unknwon']

##Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.
5. numbers1, numbers2, multiplication, subtraction를 출력.

In [ ]:
numbers1 = []
numbers2 = []
for x in range(10):
    numbers1.append(random.randrange(100))
    numbers2.append(random.randrange(100))
print('numbers1:', numbers1)
print('numbers2:', numbers2)
multiplication = []
subtraction = []
for x,y in zip(numbers1, numbers2):
    multiplication.append(x*y)
    subtraction.append(x-y)
print('multiplication:', multiplication)
print('subtraction:', subtraction)

numbers1: [85, 80, 29, 79, 4, 23, 71, 1, 91, 50]
numbers2: [28, 65, 25, 61, 85, 73, 18, 53, 77, 36]
multiplication: [2380, 5200, 725, 4819, 340, 1679, 1278, 53, 7007, 1800]
subtraction: [57, 15, 4, 18, -81, -50, 53, -52, 14, 14]

In [31]:
#List comprehension
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]
print('numbers1:', numbers1)
print('numbers2:', numbers2)
multiplication = [x*y for x,y in zip(numbers1,numbers2)]
subtraction = [x-y for x,y in zip(numbers1,numbers2)]
print('multiplication:', multiplication)
print('subtraction:', subtraction)

numbers1: [48, 18, 82, 9, 90, 47, 67, 3, 95, 90]
numbers2: [67, 1, 46, 5, 86, 69, 5, 62, 96, 63]
multiplication: [3216, 18, 3772, 45, 7740, 3243, 335, 186, 9120, 5670]
subtraction: [-19, 17, 36, 4, 4, -22, 62, -59, -1, 27]

#List comprehension(리스트 내포)
1 ~ 10 정수들을 순서대로 리스트에 저장: `[1,2,3,...9,10]`

In [14]:
numbers=[]
for x in range(1,11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
numbers=[x for x in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#[1, 4, 9, 16, ..., 81, 100]
squares=[x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
#난수 10개를 저장하는 리스트 범위는 0 이상 10미만
numbers = [random.randrange(10) for _ in range(10) ]
numbers

[8, 4, 9, 7, 3, 5, 6, 1, 0, 5]