<a href="https://colab.research.google.com/github/rosy137/lab-python/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple(튜플)
* 하나의 변수에 여러 개의 값을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트
    * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입
    * indexing, slicing
    * 음수 인덱스도 사용 가능

In [3]:
# 숫자들을 저장하는 튜플
numbers = (1,2,10,20,100,200)
numbers

(1, 2, 10, 20, 100, 200)

In [5]:
type(numbers)

tuple

In [8]:
numbers.count(1) # 괄호 안의 값이 튜플 안에 몇 개

1

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [9]:
numbers[0] # 튜플의 첫번째 원소

1

In [11]:
numbers[-1] # 튜플의 마지막 원소

200

slicing: 자르기, 부분집합

In [13]:
# 튜플에서 첫 3개의 원소들을 잘라내기
numbers[:3]

(1, 2, 10)

In [14]:
numbers[-3:] # 튜플에서 마지막 3개의 원소들을 잘라내기

(20, 100, 200)

##decomposition(분해)

In [16]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a,b,c)

1 3 5

In [19]:
x, y, z = (1,3, 5) # decomposition
print(x, y, z)

1 3 5

## tuple & for

In [20]:
for x in odds:
    print(x)

1
3
5

#2차원 리스트/튜플

In [21]:
numbers = [[1,2,3],[4,5,6]]
numbers

[[1, 2, 3], [4, 5, 6]]

In [22]:
len(numbers) # 2차원 리스트 numbers의 원소 개수

2

In [24]:
numbers[0]

[1, 2, 3]

In [25]:
numbers[0][0]

1

Ex
1. 2 * 2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1.
1. 2 * 2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2.
1. array1 과 array2의 같은 인덱스의 원소들끼리 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력.

In [26]:
import random

In [28]:
# 내가 푼 것
array1 = [[random.randrange(10) for _ in range(2)],[random.randrange(10) for _ in range(2)]]
array2 = [[random.randrange(10) for _ in range(2)],[random.randrange(10) for _ in range(2)]]
add = [[x+y for x,y in zip(array1[0], array2[0])],[x+y for x,y in zip(array1[1], array2[1])]]
print('array1:', array1)
print('array2:', array2)
print('add:', add)

array1: [[7, 8], [3, 9]]
array2: [[4, 7], [8, 1]]
add: [[11, 15], [11, 10]]

In [37]:
# 답
array1 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
add = [[x+y for x,y in zip(row1, row2)] for row1, row2 in zip(array1, array2)]
print('array1:', array1)
print('array2:', array2)
print('add:', add)

array1: [[8, 1], [1, 1]]
array2: [[6, 6], [1, 6]]
add: [[14, 7], [2, 7]]

In [35]:
array1= []
for _ in range(2):
    row = []
    for _ in range(2):
        row.append(random.randrange(10))
    array1.append(row)
print('array1:', array1)

array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)] # 리스트 하나 식 만들고 그 식 반복 range(2)
print('array2:', array2)

add = []
for row1, row2 in zip(array1, array2):
    #print(row1,row2)
    temp = [] # 덧셈 결과를 저장하기 위한 빈 배열
    for x,y in zip(row1, row2):
        temp.append(x+y)
    add.append(temp)
print('add:', add)

add = [[x+y for x,y in zip(row1,row2)] for row1, row2 in zip(array1, array2)]
print('add:', add)

array1: [[4, 4], [7, 3]]
array2: [[0, 6], [5, 4]]
add: [[4, 10], [12, 7]]

#Set(집합)
* 중복된 데이터를 허용하지 않음: `{1,2,2,3,3} = {1,2,3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음
    * 데이터의 저장 순서가 중요하지 않음: `{1,2,3} = {3,1,2}`
    * indexing, slicing 기능을 제공하지 않음.
    * for-in 구문에서 사용할 수 있는 iterable 타입

In [38]:
s = {1,2,2,3,3}
s

{1, 2, 3}

##set의 기능(메서드)

In [39]:
s.add(5)
s

{1, 2, 3, 5}

In [40]:
s.remove(3)
s

{1, 2, 5}

In [43]:
s.pop() # 임의 삭제
s

{2, 5}

In [44]:
s1 = {1,2,3,4}
s2 = {2,3,5,6}

In [45]:
s1.union(s2) # 합집합

{1, 2, 3, 4, 5, 6}

In [46]:
s1.intersection(s2) # 교집합

{2, 3}

In [47]:
s1.difference(s2) # 차집합

{1, 4}

#dict
* dictionary(사전) 형식의 데이터 타입
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입
    * list, tuple: 인덱스 기반의 데이터 타입.
    * dict: key-value 기반의 데이터 타입
    * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [51]:
students = {1:'가', 2:'나', 3:'다'}
students

{1: '가', 2: '나', 3: '다'}

In [53]:
type(students)

dict

`dict`에서에서 키를 사용하는 방법은 `list`또는 `tuple`과 마찬가지로 인덱스 연산자(`[]`)를 사용함

In [55]:
students[10] = '홍길동' #dict에 새로운 key-value 아이템을 추가
students

{1: '가', 2: '나', 3: '다', 10: '홍길동'}

In [56]:
students[3] = 'scott' # dict에서 key에 해당하는 value 값을 수정
students

{1: '가', 2: '나', 3: 'scott', 10: '홍길동'}

In [57]:
students.pop(3) #dict에서 해당하는 key의 아이템(key:value)을 삭제
students

{1: '가', 2: '나', 10: '홍길동'}

In [60]:
book = {
    'title':'점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'],
    'isbn': 123456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 123456789}

In [62]:
book['title']

'점프 투 파이썬'

In [63]:
book['authors']

['박응용', '웨스 매키니']

In [65]:
book['authors'][0]

'박응용'

##dict&for

In [66]:
contact = {
    'no':1,
    'name': '오쌤',
    'phones': ['010-0000-0000','02-0000-0000'],
    'emails': {
        'company':'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
        }
}
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [68]:
for k in contact:
    print(k)

no
name
phones
emails

for-in 구문에서 dict를 사용하면 키(key)를 iteration함

In [70]:
for k in contact:
    print(k,':',contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [71]:
contact.keys() # dict의 key들의 리스트를 리턴

dict_keys(['no', 'name', 'phones', 'emails'])

In [73]:
contact.values() # dict의 value들의 리스트를 리턴

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [74]:
contact.items() # dict에서 (key, value) 튜플들의 리스트를 리턴

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [76]:
for k, v in contact.items():
    print(k,':',v)

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

##Dictionay Comprehension

In [79]:
emp_no = [1001, 1002, 2001, 2002] # 사번
emp_name = ['King', 'Scott', 'Allen', 'Tiger'] # 직원 이름
emp = {}
for x in range(len(emp_no)):
    for y in range(len(emp_name)):
        if(x==y):
            emp[emp_no[x]] = emp_name[y]
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [81]:
emp = {}
for no, name in zip(emp_no, emp_name):
    emp[no] = name
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [84]:
emp = {k:v for k,v in zip(emp_no, emp_name)}
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [92]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 string의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력
len_strings = []
for x in range(len(strings)):
    len_strings.append(len(strings[x]))
print(len_strings)
list = {s:c for s,c in zip(strings, len_strings)}
print(list)

[5, 4, 3, 6, 10]
{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [93]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 string의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력
len_strings = {}
for s in strings:
    len_strings[s] = len(s)
print(len_strings)

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}