<a href="https://colab.research.google.com/github/rosy137/lab-python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funtion(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
    * return value가 있는 함수
    * return value가 없는 함수
* 파이썬 함수 정의 방법:
    ```
    def function_name([param, ...]):
        ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
        함수 기능 구현
        [return 값]
    ```
* return value가 없는 경우에,
    * return 문장을 생략.
    * return None 명시할 수도 있음.

In [1]:
def subtract(x,y): # 함수 정의 파라미터 받기
    """2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수"""
    return x - y

In [2]:
result = subtract(1,2) # 함수 호출 아규먼트 전달
result

-1

In [3]:
#문자열, 숫자 전달받은 숫자만큼 문자열 반복하는 함수
def repeat_message(message, n):
    """
    문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
    """
    for _ in range(n): print(message)
    return None # 리턴값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.
    # return message * n

In [4]:
repeat_message('hi', 5)

hi
hi
hi
hi
hi

##Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [5]:
import random

In [6]:
def make_list(start,end,n):
    list = [random.randrange(start,end) for _ in range(n)]
    print(list)
    return list

In [16]:
list = make_list(30,50,10)

[49, 30, 46, 48, 39, 48, 47, 31, 46, 46]

##Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [8]:
def calc_sum(list):
    total = 0
    for x in range(len(list)):
        total += list[x]
    return total

In [9]:
def calc_sum(list):
    total = 0
    for x in list:
        total += x
    return total

In [10]:
def calc_sum(list):
    return sum(list)

In [18]:
calc_sum(list)

430

##Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [12]:
def calc_mean(list):
    return calc_sum(list) / len(list)

In [22]:
calc_mean(list)

43.0

##Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [14]:
def calc_var(list):
    temp = [(x - calc_mean(list))**2 for x in list]
    return calc_mean(temp)

In [21]:
calc_var(list)

45.8

In [24]:
from IPython.lib.display import ScribdDocument
scores1 = [3,4,5,6,7]
scores2 = [0,1,5,9,10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)
print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')
var1 = calc_var(scores1)
var2 = calc_var(scores2)
print(f'var1 = {var1}')
print(f'var2 = {var2}')

mean1 = 5.0
mean2 = 5.0
var1 = 2.0
var2 = 16.4

In [25]:
def make_lotto_list():
    lottos = []
    for _ in range(5):
        lotto = set() # set 중복 불가
        while True:
            lotto.add(random.randrange(1,46))
            if len(lotto) == 6:
                break
        lottos.append(lotto)
    return lottos

In [26]:
make_lotto_list()

[{20, 23, 28, 32, 36, 37},
 {7, 9, 12, 31, 35, 36},
 {2, 15, 17, 20, 24, 33},
 {12, 17, 18, 30, 36, 45},
 {1, 10, 20, 32, 33, 41}]