<a href="https://colab.research.google.com/github/rosy137/lab-python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funtion(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
    * return value가 있는 함수
    * return value가 없는 함수
* 파이썬 함수 정의 방법:
    ```
    def function_name([param, ...]):
        ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
        함수 기능 구현
        [return 값]
    ```
* return value가 없는 경우에,
    * return 문장을 생략.
    * return None 명시할 수도 있음.

In [1]:
def subtract(x,y): # 함수 정의 파라미터 받기
    """2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수"""
    return x - y

In [2]:
result = subtract(1,2) # 함수 호출 아규먼트 전달
result

-1

In [3]:
#문자열, 숫자 전달받은 숫자만큼 문자열 반복하는 함수
def repeat_message(message, n):
    """
    문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
    """
    for _ in range(n): print(message)
    return None # 리턴값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.
    # return message * n

In [4]:
repeat_message('hi', 5)

hi
hi
hi
hi
hi

##Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [5]:
import random

In [6]:
def make_list(start,end,n):
    list = [random.randrange(start,end) for _ in range(n)]
    print(list)
    return list

In [7]:
list = make_list(1,50,10)

[7, 16, 24, 25, 44, 16, 43, 24, 1, 24]

##Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [8]:
def calc_sum(list):
    total = 0
    for x in range(len(list)):
        total += list[x]
    return total

In [9]:
def calc_sum(list):
    total = 0
    for x in list:
        total += x
    return total

In [10]:
def calc_sum(list):
    return sum(list)

In [11]:
calc_sum(list)

224

##Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [12]:
def calc_mean(list):
    return calc_sum(list) / len(list)

In [13]:
calc_mean(list)

22.4

##Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [14]:
def calc_var(list):
    temp = [(x - calc_mean(list))**2 for x in list]
    return calc_mean(temp)

In [15]:
calc_var(list)

168.24

In [16]:
from IPython.lib.display import ScribdDocument
scores1 = [3,4,5,6,7]
scores2 = [0,1,5,9,10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)
print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')
var1 = calc_var(scores1)
var2 = calc_var(scores2)
print(f'var1 = {var1}')
print(f'var2 = {var2}')

mean1 = 5.0
mean2 = 5.0
var1 = 2.0
var2 = 16.4

In [17]:
def make_lotto_list():
    lottos = []
    for _ in range(5):
        lotto = set() # set 중복 불가
        while True:
            lotto.add(random.randrange(1,46))
            if len(lotto) == 6:
                break
        lottos.append(lotto)
    return lottos

In [18]:
make_lotto_list()

[{2, 6, 8, 10, 13, 21},
 {5, 7, 21, 32, 36, 42},
 {11, 12, 21, 22, 35, 45},
 {12, 17, 18, 22, 36, 39},
 {1, 21, 25, 27, 28, 32}]

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있음. 함수를 호출한 곳에서는 리턴값을 튜플로 취급하면 됨.
```
x, y = (1, 2) # decomposition(성분 분해)
```

In [19]:
def plus_and_minus(x,y):
    return x+y, x-y

In [20]:
plus_and_minus(1,5)

(6, -4)

In [21]:
plus, minus = plus_and_minus(1,5)
print(plus, minus)

6 -4

In [22]:
def find_max_and_min(list):
    return max(list), min(list)

In [23]:
def find_max_and_min(list):
    m_ax = list[0]
    m_in = list[0]
    for x in list:
        if x > m_ax:
            m_ax = x
        if x < m_in:
            m_in = x
    return m_ax, m_in

In [24]:
print(list)
find_max_and_min(list)

[7, 16, 24, 25, 44, 16, 43, 24, 1, 24]

(44, 1)

숫자들의 리스트를 전달받아서 최댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의. 최댓값이 2개 이상인 경우, 먼저 나오는 최댓값의 인덱스를 리턴.

In [25]:
def find_max_index(list):
    m_ax = list[0]
    m_index = 0;
    m_in = list[0]
    mi_index = 0;
    for i,v in enumerate(list):
        if v > m_ax:
            m_ax = v
            m_index = i
        if v < m_in:
            m_in = v
            mi_index = i

    return m_ax, m_index, m_in, mi_index

In [26]:
print(list)
find_max_index(list)

[7, 16, 24, 25, 44, 16, 43, 24, 1, 24]

(44, 4, 1, 8)

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정된 기본값.
    * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
    * 함수를 호출할 때 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 아규먼트가 사용됨.
* **(주의)** 함수를 정의할 때, default argument를 갖는 파라미터들은 반드시 default argument를 같지 않는 파라미터들 뒤에 선언해야 함
    * 기본값을 갖지 않는 파라미터들을 먼저 선언하고, 기본값을 갖는 파라미터들을 뒤에 선언해야 함.

In [27]:
def repeat_message2(msg, n = 1):
    for _ in range(n):
        print(msg)

In [28]:
repeat_message2('dj')

dj

In [29]:
repeat_message2('dj', 5)

dj
dj
dj
dj
dj

# argument 전달 방법:
* positional argument: 함수 정의에서 선언된 파라미터 순서대로 아규먼트들을 전달하는 방법.
* keyword argument: `param = value` 형식으로 아규먼트들을 전달하는 방법.
    * keyword argument 방식에서는 파라미터의 순서를 지키지 않아도 됨.
    * **(주의)** 함수 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는 반드시 positional argument를 먼저 사용하고, keyword argument는 나중에 사용해야 함.

In [30]:
def minus(x,y):
    return x - y

In [31]:
minus(1, 10) # positional argument

-9

In [32]:
minus(y = 1, x= 10) # keyword argument는 순서를 지키지 않아도 괜찮ㅇ다

9

In [33]:
minus(1, x = 10)

TypeError: ignored

# 가변길이 인수(variable-length argument)

public void printf(String... args) {}
* 함수를 호출할 때, 전달하는 argument의 개수가 임의로 변할 수 있는 것
    * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달 받을 수 있음.
* 함수 내부에서는 가변길이 인수는 튜플로 취급.
    * for-in 반복문 사용 가능.
    * 인덱스 사용 가능.
* **(주의)**
    * 가변길이 인수는 keyword 방식으로는 전달할 수 없음.
    * 함수를 정의할 때, 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능.

In [34]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [35]:
add_all()

0

In [36]:
add_all(1,2,3,4,7) # 원소 5개짜리 튜플 전달

17

In [37]:
def test1(x, *y):
    print(x)
    print(y)

In [38]:
test1(1,2,3,4,7)

1
(2, 3, 4, 7)

In [39]:
def test2(*x, y):
    print(x)
    print(y)

In [40]:
test2(1,2,3,4,y = 5)

(1, 2, 3, 4)
5

In [41]:
def keyword_only(*,x,y,z): # 키워드 방식으로만 함수 호출 가능
    print(f'x={x}, y={y}, z={z}')

In [42]:
keyword_only(x=1,y=2,z=3)

x=1, y=2, z=3

#가변길이 키워드 인수(variable-length keyword argument)
* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임.
* 가변길이 인수:함수를 호출할 때 전달하는 아규먼트의 개수 제한이 없음.
* keyword argument: 함수를 호출할 때 반드시 `param=value`형식으로 전달해야함.
* 함수 내부에서 가변 길이 키워드 인수는 dict로 취급함.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 됨
* 가변길이 키워드 인수는 함수에서 1개만 사용 가능

In [43]:
def test3(**kwargs):
    print(kwargs)

In [44]:
test3(happy1 = 10, happy2 = 20, happy3 = 30)

{'happy1': 10, 'happy2': 20, 'happy3': 30}

In [45]:
def make_emp_info(emp_no, emp_name, **kwargs):
    emp = {'emp_no':emp_no, 'emp_name':emp_name}
    for k,v in kwargs.items():
        emp[k] = v

    return emp

In [46]:
make_emp_info(1, 'king')

{'emp_no': 1, 'emp_name': 'king'}

In [47]:
def print_msg(msg):
    print(f'message = {msg}')

In [48]:
print_msg('안녕하세요')

message = 안녕하세요

In [49]:
print(print_msg('안녕하세요'))

message = 안녕하세요
None

# 1급 객체(first-class object)로서의 함수
* 함수는 변수에 할당할 수 있음.
    * 함수는 아규먼트가 될 수 있음.
* 함수는 다른 함수의 리턴 값이 될 수 있음
* 함수 내부에서 다른 함수를 정의할 수 있음

#함수를 변수에 할당

In [50]:
def twice(x):
    return x **2

In [51]:
result = twice(100) # 함수 호출 결과를 변수에 저장

In [52]:
double = twice # 함수(객체)를 변수에 저장

In [53]:
double

In [54]:
double(twice(2))

16

In [55]:
def calculate(x,y,fn):
    result = fn(x,y)
    return result

In [56]:
def plus(x,y):
    return x+y

In [57]:
calculate(9,8,plus)

17

In [58]:
def minus(x,y):
    return x-y

In [59]:
calculate(1,2,minus)

-1

##내부 함수, 함수 리턴

In [60]:
def make_increment(n): # 외부 함수
    def add_n(x): # 내부 함수, 지역 함수
        return x+n # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.
    return add_n

In [61]:
increase_by_2 = make_increment(2)

In [62]:
increase_by_2(100)

102

In [63]:
make_increment(5)(100)

105

#Lambda Expression(람다 표현식)
```
lambda param1, param2, ...: expression
```

* 익명 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않음

In [64]:
minus = lambda x,y: x-y
minus

In [65]:
minus(1,2)

-1

In [66]:
calculate(2,3, lambda x,y: x*y)

6

In [67]:
calculate(2,3, lambda x,y: x/y)

0.6666666666666666

Ex1. calculate 함수에 2개의 숫자중에서 더 큰수를 리턴하는 람다 표현식을 전달

In [68]:
calculate(5,6, lambda x,y: x if x>y else y)

6

Ex1. calculate 함수에 첫번째 아규먼트가 크면 True, 그렇지 않으면 False를 리턴하는 람다 표현식을 전달

In [69]:
calculate(1,5, lambda x,y: x>y)

False

##Filter 함수
조건에 맞는 원소들만 선택

In [76]:
my_filter([1,2,3,4], lambda x: x % 2 == 0)

[True, True]

In [80]:
def my_filter(iterable, fn):
    """
    리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만 이루어진 리스트를 리턴
    Param iterable: 리스트
    Param fn: 아규먼트가 1개이고, true/false를 리턴하는 함수

    result = [] #필터링된 원소들을 저장할 빈 리스트
    for x in iterable: # 리스트의 원소들을 순서대로 반복하면서
        if(fn(x)): # 함수를 지나간 원소의 값이 true를 반환한다면
            result.append(x) # 리스트에 값을 넣어준다.
    return result # 그 리스트를 반환함
    """
    return [x for x in iterable if fn(x)]

In [81]:
my_filter([1,2,3,4], lambda x: x%2==0)

[2, 4]

In [83]:
strings = ['python', 'java', 'javascript', 'sql']
# my_filter 함수를 사용해서 strings에서 5글자 이상인 문자열들만 필터링
my_filter(strings, lambda x: len(x)>=5)

['python', 'javascript']

##map 함수
원소들을 규칙에 따라서 다른 값으로 변환

In [86]:
def my_mapper(iterable, fn):
    """
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴
    Param iterable: 리스트
    Param fn: 아규먼트가 1개이고 리턴값이 있는 함수
    """
    return [fn(x) for x in iterable]

In [87]:
my_mapper([1,2,3,4,5], lambda x: x**2)

[1, 4, 9, 16, 25]

In [90]:
my_mapper(['a','b','c'], lambda x: x*2)

['aa', 'bb', 'cc']

In [97]:
# 리스트 numbers의 원소가 짝수이면 'even' 홀수이면 'odd'
my_mapper([1,2,3,4,5], lambda x:  'even' if x % 2 == 0 else 'odd')

['odd', 'even', 'odd', 'even', 'odd']

In [98]:
# strings가 가지고 있는 문자열의 길이들로 이루어진 리스트
my_mapper(strings, lambda x: len(x))

[6, 4, 10, 3]

In [100]:
#strings의 문자열들을 모두 대문자로 변환한 리스트
my_mapper(strings, lambda x: x.upper())

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']

In [101]:
2**7

128

In [ ]:
# 157 page 책 읽기